@import "partials/webfont";
@import "partials/variables";

body:after {
  //UNCOMMENT the next line to hide grid
  display:none !important;
}

//TYPE

h1 {
  font-size: $font-base*($font-scale*4);
}

h2 {
  font-size: $font-base*($font-scale*3);
  font-style: italic;
  margin: 0 0 $baseline;
}

h3 {
  font-size: $font-base*($font-scale*2);
}

h4 {
  font-size: $font-base*($font-scale);
}

h5 {
  font-size: $font-base;
  font-weight: bold;
}

p {
    max-width: 33em;
    margin:0 0 $baseline;
}

ul, ol {
  padding: 0;

  li {

  }
}


//GLOBAL ELEMENTS

html, body {
 margin:0;
 padding:0;
 font-family: $font, 'helvetica', sans-serif;
 font-size: $font-base;
 line-height: $baseline;
 color: #555;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content:center;
 min-height: 100vh;

}

a, a:link {

  &:hover {

  }

  &:visited {

  }
}

//SECTIONS

section {

}

.container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  //justify-content:space-between;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $baseline;

  h1 {
    margin: $baseline 0;
  }

  .twc-logo {
    height: $baseline*8;
    width: $baseline*8;
    fill:#414042;
  }

  .site-title {
    display: none;
  }

  p {
    font-size: $font-base*1.5;
    text-align: center;
    line-height: $baseline*1.5;
    max-width: 22em;

    @media screen and (max-width: 320px) {
      font-size: $font-base;
      line-height: $baseline;
      //text-align: left;
      max-width: 100%;
    }

  }


  }

  header#header-small {
    margin-bottom: $baseline;
    border-bottom: 1px solid #ddd;

    .inner {
      width:80vw;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }


    h1 {
      margin: $baseline*.5 $baseline $baseline*.5 $baseline*2;
    }

    .twc-logo {
      height: $baseline*2;
      width: $baseline*2;
      fill:#414042;
    }

    .site-title {
      display: none;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin:0;
      padding: 0;

      li {
        list-style: none;
        padding: 0;
        text-align: center;
        width: 100%;


        a, a:link {
          font-size: $font-base;
          font-weight: bold;
          text-decoration: none;
          padding: $baseline/2 $baseline/2;
          color:#555;

          @media screen and (max-width: 719px) {
            display: inline-flex;
            //width: 100%;

          }

          &:hover {
            //background-color: #efefef;
            color:#E62E59;
          }

          &:visited {

          }
        }
      }
    }


    }




main {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding:$baseline;

 p{
   font-style: italic;
 }

  &>section {
    padding: $baseline;
    margin-top: $baseline*2;
  }

  }

  #actions {
   display: flex;
   justify-content: center;

   @media screen and (max-width: 719px) {
     flex-direction: column;
   }


    a, a:link {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      color: #555;
      padding: $baseline*0.25 $baseline ($baseline*0.25)-2 $baseline;
      margin: $baseline*.25 $baseline;
      border-bottom: 2px solid #D1EFD1;

      @media screen and (max-width: 719px) {
        margin: $baseline/2 0;
      }


      &:hover {
        //border: 1px solid #555;
        //background: #D1EFD1;
        border-color: #E62E59;
      }
    }

}

.footer {
  border-top: 1px solid #ddd;

  background-color: #fff;

  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $baseline;
  height: ($baseline*2)-1;

  @media screen and (max-width: 719px) {
    flex-direction: column-reverse;
    height: auto;
  }

  .copyright {
    font-size: $font-base/($font-scale*1.5);

    @media screen and (max-width: 719px) {
      font-size: $font-base/$font-scale;
      text-align: center;
    }
  }

  .social-menu {
    display: flex;
    justify-content: space-around;
    margin:0;
    padding: 0;

    @media screen and (max-width: 719px) {
      flex-direction: column;
      //padding: $baseline*.5;
      width: 100%;


    }

    li {
      list-style: none;
      padding: 0;
      text-align: center;
      width: 100%;


      a, a:link {
        font-size: $font-base*.66;
        text-decoration: none;
        padding: $baseline/2 $baseline/2;
        color:#E62E59;

        @media screen and (max-width: 719px) {
          display: inline-flex;
          //width: 100%;

        }

        &:hover {
          background-color: #efefef;
        }

        &:visited {

        }
      }
    }
  }


} //end footer
