//Variables
$font-base: 20px;
$font-scale: 1.25;
$baseline: 30px;
$border-width: 2px;
$font: 'basier_circle';


//Colors
$primary-lt: #D1EFD1;
$primary-dk: #177317;
$accent: #E62E59;
//$grey-dk: #414042;
$grey-dk: #394039;
//$grey-lt: #FBFAF7;
$grey-lt: #F2F1ED;

$radius: 7px;
